#root {
  background-color: #232323;
  margin: auto;
}
  .card {
    font-family: 'Yanone Kaffeesatz', sans-serif;
      font-weight: bold;
      display: inline-flex;
      text-align: center;
      justify-content: center;
      height: 550px;
      width: 350px;
      margin: 25px;
  }
  .navvy{
    font-family: 'Anton', sans-serif;
    background-image: url("../images/background.jpg");
    border-bottom: 1px solid black;
  }
  .title {
    margin-top: 0px;
    text-decoration: underline;
  }
  .workTitle {
    display: flex;
    text-align: center;
    justify-content: center;
  }
.card-columns {
    display: flex;
    justify-content: center;
  }
  .card-title {
    text-decoration: underline;
    font-style: inherit;
    text-align: center;
    color: white;
    margin: auto;
  }
  .link:hover{
    opacity: 0.7;
    background-color: #383838;
  }
  .icon {
    background-color: black;
    padding: 10px;
  }
  .hover:hover {
    opacity: 0.8;
  }
/* media queries for resizing */
@media only screen and (max-width: 900px) {
  .card-columns {
    display: block;
  }
}
@media only screen and (max-width: 900px) {
  body {
    justify-content: center;
  }
}
@media only screen and (max-width: 900px) {
  .card {
    display: block;
  }
}
@media only screen and (max-width: 1200px) {
  .navvy {
    justify-content: center;
  }
}

@media only screen and (max-width: 1500px) {
  .card {
    justify-content: center;
    height: 590px;
  }
}
@media only screen and (max-width: 1500px) {
  .techs {
    height: 20px;
  }
}
@media only screen and (max-width: 1500px) {
  .tiny {
    height: 20px;
  }
}

