  .card {
    font-family: 'Yanone Kaffeesatz', sans-serif;
      font-weight: bold;
      display: inline-flex;
      text-align: center;
      justify-content: center;
      height: 400px;
      width: 400px;
      margin: 25px;
      border: none; 
  }
  .navvy{
    font-family: 'Anton', sans-serif;
    background-image: url("../images/background.jpg");
    background-position: center;
    background-repeat: no-repeat, repeat;
    border-bottom: 1px solid black;
  }
  .title {
    margin-top: 0px;
    text-decoration: underline;
  }
  .workTitle {
    display: flex;
    text-align: center;
    justify-content: center;
  }
.card-columns {
    display: flex;
    justify-content: center;
  }
  .hide-card {
    text-align: center;
    border: none;
  }
  .card-title {
    text-align: center;
    color: white;
  }
  .icon {
    padding: 10px;
  }
/* media queries for resizing */
@media only screen and (max-width: 900px) {
  .card-columns {
    display: block;
  }
}
@media only screen and (max-width: 900px) {
  .card {
    display: block;
  }
}
@media only screen and (max-width: 1200px) {
  .navvy {
    justify-content: center;
  }
}
@media only screen and (max-width: 1200px) {
  .techs {
    justify-content: center;
  }
}

