* {
    font-family: 'Crimson Text', serif;
  
  }
  .card {
      display: inline-flex;
      text-align: center;
      justify-content: center;
      height: 400px;
      width: 400px;
      margin: 25px;
      border: none;
    
  }
  .nav {
    padding: 15px;
  }
  .title {
    margin-top: 0px;
    text-decoration: underline;
  }
  #derek {
    color: #ADD8E6;
  }
  .workTitle {
    display: flex;
    text-align: center;
    justify-content: center;
  }
.card-columns {
    display: flex;
    justify-content: center;
  }
  .hide-card {
    text-align: center;
    border: none;
  }
  .card-title {
    text-align: center;
    color: #ADD8E6;
  }
  .duck {
    margin: auto;
    font-size: 40px
  }
  .aspire {
    font-style: italic;
      opacity: 0.9;
      font-size: 20px;
      color: #ADD8E6;
  }

/* media queries for resizing */
@media only screen and (max-width: 900px) {
  .card-columns {
    display: block;
  }
}
@media only screen and (max-width: 2400px) {
.aboutme {
  font-size: 22px;
}
}
@media only screen and (max-width: 900px) {
  .card {
    display: block;
  }
}
@media only screen and (max-width: 900px) {
  .card-deck {
    display: block;
  }
}
@media only screen and (max-width: 900px) {
  body {
    background-repeat: repeat;
  }
}

