* {
    font-family: 'Crimson Text', serif;
  
  }
  .card {
      display: inline-flex;
      text-align: center;
      justify-content: center;
      height: 400px;
      width: 400px;
      margin: 25px;
      border: none;
    
  }
  .navvy{
    background-image: url("../images/background.jpg");
    background-position: center;
    background-repeat: no-repeat, repeat;
    border-bottom: 1px solid black;
  }
  .title {
    margin-top: 0px;
    text-decoration: underline;
  }

  .workTitle {
    display: flex;
    text-align: center;
    justify-content: center;
  }
.card-columns {
    display: flex;
    justify-content: center;
  }
  .hide-card {
    text-align: center;
    border: none;
  }
  .card-title {
    text-align: center;
    color: black;
  }

/* media queries for resizing */
@media only screen and (max-width: 900px) {
  .card-columns {
    display: block;
  }
}
@media only screen and (max-width: 2400px) {
.aboutme {
  font-size: 22px;
}
}
@media only screen and (max-width: 900px) {
  .card {
    display: block;
  }
}
@media only screen and (max-width: 900px) {
  .card-deck {
    display: block;
  }
}
@media only screen and (max-width: 900px) {
  body {
    background-repeat: repeat;
  }
}
@media only screen and (max-width: 1200px) {
  .navvy {
    justify-content: center;
  }
}
@media only screen and (max-width: 1200px) {
  .techs {
    justify-content: center;
  }
}

