* {
    font-family: 'Crimson Text', serif;
    margin: 1px;
  }
  .card {
      display: inline-flex;
      text-align: center;
      justify-content: center;
      height: 400px;
      width: 400px;
      margin: 10px;
      border: none;
  }
  .nav {
    padding: 10px;
  }
  #derek {
    color: black;
  }
  .aboutme {
    font-size: 24px;
  }
.card-columns {
    display: flex;
    justify-content: center;
  }
  .hide-card {
    text-align: center;
    border: none;
  }
  .card-title {
    text-align: center;
  }
  .duck {
    margin: auto;
    font-size: 40px
  }
  .aspire {
    font-style: italic;
      opacity: 0.9;
      font-size: 20px;
  }

/* media queries for resizing */
@media only screen and (max-width: 900px) {
  .card-columns {
    display: block;
  }
}
@media only screen and (max-width: 1200px) {
.aboutme {
  font-size: 22px;
}
}
@media only screen and (max-width: 900px) {
  .card {
    display: block;
  }
}
@media only screen and (max-width: 900px) {
  .card-deck {
    display: block;
  }
}
@media only screen and (max-width: 900px) {
  body {
    background-repeat: repeat;
  }
}

